[Unit]
Description=Set USB OTG port role
ConditionPathExists=/etc/mos/otg.conf

[Service]
Type=oneshot
ExecStart=/usr/lib/mos/hwinit-otg
TimeoutStartSec=10

[Install]
WantedBy=multi-user.target
