[Unit]
Description=Writable /var/lib/systemd/network on DATA
DefaultDependencies=no
Requires=mos-seed-state.service
After=mos-seed-state.service
Before=systemd-networkd-persistent-storage.service local-fs.target shutdown.target
Conflicts=shutdown.target

[Mount]
What=/mnt/data/state/network
Where=/var/lib/systemd/network
Type=none
Options=bind,nosuid,nodev

[Install]
WantedBy=local-fs.target
