[Unit]
Description=hostapd configuration from the STATE partition
Requires=mos-seed-state.service
After=mos-seed-state.service
RequiresMountsFor=/mnt/state
Before=hostapd@.service

[Mount]
What=/mnt/state/hostapd
Where=/etc/hostapd
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
