[Unit]
Description=Bluetooth pairing keys from the STATE partition
Requires=mos-seed-var.service mos-seed-state.service
After=mos-seed-var.service mos-seed-state.service
RequiresMountsFor=/mnt/state
Before=bluetooth.service mos-bluetooth.service

[Mount]
What=/mnt/state/bluetooth
Where=/var/lib/bluetooth
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
